{% extends "base.html" %}

{% block content %}
<div class="sticky_scroll">
    <header class="body_header">
        <div>
            <a href="#opening"><img class="icon" src="images/hw-logo-vyrobni-report.svg" alt="Logo" width=auto height=auto></a>
        </div>

        <div>
            <a href="#contact"><button>DOMLUVIT SCHŮZKU</button></a>
        </div>
    </header>
</div>

<article>

    <section id="opening" class="section">
        <div class="introduction">
            <h1>Ušetřete průměrně 20% díky IoT monitoringu vaší&nbsp;výroby</h1>
            <p>Výrobní manažeři docílí v průměru 20% zvýšení produkce či&nbsp;efektivity výroby. Jak? Díky jednoduché a
                cenově dostupné digitalizaci v rámci programu VÝROBNÍ REPORT.</p>
            <p>Nemusíte přemýšlet, jak efektivně sbírat a&nbsp;analyzovat výrobní data – máme pro&nbsp;vás řešení, které
                vám usnadní práci.</p>
            <p>Instalace je rychlá, bezproblémová a&nbsp;nevyžaduje žádné zásadní zásahy do vaší IT infrastruktury.</p>
        </div>
        <img class="report_bg" src="images/vyrobni-report.svg" width="800" height="650" alt="Bezdrátový monitoring" loading="lazy">
    </section>

    <section class="customers section">
        <p>Mezi naše spokojené zákazníky, kteří již využívají naše monitorovací řešení, patří například:</p>
        <div class="customers_logos">
            <img src="images/tpca.svg" alt="Logo T|P|C|A" width="150" height="auto" loading="lazy">
            <img src="images/tokoz.svg" alt="Logo Tokoz" width="150" height="auto" loading="lazy">
            <img src="images/skoda.svg" alt="Logo Škoda" width="150" height="auto" loading="lazy">
        </div>
    </section>


    {#
    <section class="section">
        <div class="cards">
            {% for card in config.extra.cards %}
            <div class="card">
                <h3>{{ card.title }}</h3>
                <p>{{ card.text }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    #}

    <section class="section flex" id="case_study">
        <h3>Chcete snížit náklady a zefektivnit výrobu?
            Získejte přístup k případové studii a inspirujte se u ostatních.</h3>
        <a class="download_button" href="#emailModal"><button class="download_button case_study_button">STÁHNOUT
                STUDII</button></a>

        <div id="emailModal" class="modal">
            <div class="modal-content">
                <a href=#case_study class="close">&times;</a>
                <h3>Stačí zadat e-mail a inspirace je vaše.</h3>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "5453210",
                        formId: "b4793914-6fa5-4e13-be89-bb814cf0f8c9",
                        region: "na1"
                    });
                </script>
            </div>
        </div>
    </section>

    <section class="background">
        <div class="section">
            <h2>Základní funkce IoT monitoringu</h2>
            <div class="monitoring">
                <img src="images/hardwario-andon-app.webp" alt="Chester app" width="auto" height="auto" loading="lazy">
                <div class="features">
                    {% for feature in config.extra.features %}
                    <div class="feature">
                        <div class="feature_header">
                            {{ feature.icon | safe }}
                            <h3>{{ feature.title }}</h3>
                        </div>
                        <p>{{ feature.text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="data" class="section data reverse">

        <div class="data_images_wrapper">
            <a href="#CHESTER_Counter">
                <img class="data_image" src="images/Counter.webp" alt="Chester Counter" width="auto" height="auto" loading="lazy">
            </a>
            <div id="CHESTER_Counter" class="lightbox">
                <a href="#data">×</a>
                <img src="images/Counter.webp" alt="CHESTER Counter" width="auto" height="auto" loading="lazy">
            </div>

        </div>

        <div class="data_text detail_data">
            <h2>Detailní data o každém stroji</h2>

            <img class="data_image_mobile" src="images/Counter.webp" alt="Chester Counter" width="500" height="auto" loading="lazy">

            <p>Všechna data uvidíte přehledně v přizpůsobitelném dashboardu. Můžete využít předpřipravené řešení, nebo
                vám dashboard upravíme na míru vašim potřebám</p>
        </div>
    </section>

    <section class="background">
        <div class="section">
            <h2 class="monitoring_heading">Základní sada pro&nbsp;monitoring nyní za&nbsp;zvýhodněnou cenu</h2>
            <p>Připravili jsme pro vás speciální zaváděcí nabídku, která vám usnadní start s&nbsp;naším řešením.</p>
            <p>Jednotná cena pro jednu z těchto základních sad je pouze: <strong>
                    29.000&nbsp;Kč</strong></p>

            <p>Cena konektivity a cloudové služby na&nbsp;dobu 3 roky ke každé sadě je: <strong>990&nbsp;Kč/rok</strong>
            </p>
            <div class="data">
                <img class="chester_image" src="images/chester-push.webp" class="chester_push" alt="Chester Push" width="500" height="auto" loading="lazy">
                <div class="data_text">
                    <p><strong>Můžete si vybrat z&nbsp;následujících sad:</p></strong>
                    <ul>
                        <li>Sada <strong>Výrobní TAKT</strong><br>(2 x CHESTER Counter)</li>
                        <li>Sada <strong>Výrobní ANDON</strong><br>(2 x CHESTER Push)</li>
                        <li>Sada <strong>Výrobní ANDON</strong> + <strong>Výrobní TAKT</strong><br>(1 x CHESTER Push + 1
                            x
                            CHESTER Counter)</li>
                        <li>Sada <strong>Výrobní STROJ</strong><br>(2x CHESTER Current - každý s 3x proudovou sondou)
                        </li>
                    </ul>
                    <p><i>Poznámka: Všechny ceny jsou uvedeny bez DPH.</i></p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section">

        <div class="contact_form">
            <h2>Rezervujte si bezplatnou schůzku – nabídka je časově omezená</h2>
            <div class="contact_block">
                <div class="profile">
                    <img class="profile_img" src="images/rene.avif" alt="René Gubančok" width="350" height="auto" loading="lazy">
                    <div class="profile_text_wrapper">
                        <p class="profile_text"><strong>René Gubančok</strong></p>
                        <a href="mailto:rene.gubancok@hardwario.com" class="mailto">rene.gubancok@hardwario.com</a>
                        <p class="profile_text">Chief Strategy Officer</p>
                    </div>
                    <a href="mailto:rene.gubancok@hardwario.com" class="mailto_button"><button>NAPSAT
                            E-MAIL</button></a>

                </div>
                <div class="contact_text">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            portalId: "5453210",
                            formId: "5882277e-bf6a-44ba-8617-8d7dba81f8c6"
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>

    <section class="background">
        <div class="section">
            <div>
                <h2>Vaše nejčastější dotazy</h2>
            </div>
            <div class="drop_down">
                {% for faq in config.extra.faqs %}
                <div class="drop_down_item">
                    <details>
                        <summary>
                            <h3 class="drop_down_header">
                                <span class="title_text">{{ faq.question }}</span>
                                <i class="fas fa-chevron-down"></i>
                            </h3>
                        </summary>
                        <div class="drop_down_body">
                            {% if faq.answer is iterable %}
                            <ul>
                                {% for item in faq.answer %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>{{ faq.answer }}</p>
                            {% endif %}
                        </div>
                    </details>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</article>


{% endblock %}