{% extends "base.html" %}

{% block content %}
<div class="sticky_scroll">
    <header class="body_header">
        <div>
            <a href="#opening"><img class="icon" src="images/hw-logo-vyrobni-report.svg" alt="Logo"></a>
        </div>

        <div>
            <a href="#contact"><button>REZERVOVAT DEMO</button></a>
        </div>
    </header>
</div>

<article>

    <section id="opening" class="section">
        <div class="introduction">
            <h1>Ušetřete v průměru 20% díky IoT monitoringu vaší výroby</h1>
            <p>Výrobní manažeři docílí v průměru 20 % zvýšení produkce či efektivity výroby. Jak? Díky jednoduché a cenově dostupné digitalizaci v rámci programu VÝROBNÍ REPORT.</p>
            <p>Nemusíte přemýšlet, jak efektivně sbírat a analyzovat výrobní data – máme pro vás řešení, které vám usnadní práci.</p>
            <p>Instalace je rychlá, bezproblémová a nevyžaduje žádné zásadní zásahy do vaší IT infrastruktury.</p>
        </div>
        <img class="report_bg" src="images/vyrobni-report.webp" width="800" height="650" alt="Bezdrátový monitoring">
    </section>

    <section class="customers section">
        <p>Mezi naše spokojené zákazníky, kteří již využívají naše monitorovací řešení, patří například:</p>
        <div class="customers_logos">
            <img src="images/tpca.svg" alt="Logo T|P|C|A">
            <img src="images/tokoz.svg" alt="Logo Tokoz">
            <img src="images/skoda.svg" alt="Logo Škoda">
        </div>
    </section>


{#
    <section class="section">
        <div class="cards">
            {% for card in config.extra.cards %}
            <div class="card">
                <i class="fas {{ card.icon }}"></i>
                <h3>{{ card.title }}</h3>
                <p>{{ card.text }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
#}

<section class="section flex">
    <h3> Stáhněte si případovou studii a zjistěte, jak jsme pomohli snížit náklady našim klientům</h3>
    <a class="download_button" href="download/hardwario-case-study-andon-system.pdf" download="hardwario-case-study-andon-system"><button class="download_button">STÁHNOUT STUDII</button></a>
</section>

    <section class="background">
        <div class="section">
            <h2>Základní funkce IoT monitoringu</h2>
            <div class="monitoring">
                <img src="images/hardwario-andon-app.webp" alt="Chester app">
                <div class="features">
                    {% for feature in config.extra.features %}
                    <div class="feature">
                        <div class="feature_header">
                            <i class="fas {{ feature.icon }}"></i>
                            <h3>{{ feature.title }}</h3>
                        </div>
                        <p>{{ feature.text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section data reverse">
        <img class="data_image" src="images/Counter.webp" alt="Chester Counter">
        <div class="data_text detail_data">
            <h2>Detailní data o každém stroji</h2>
            <img class="data_image_mobile" src="images/Counter.webp" alt="Chester Counter">
            <p>Všechna data uvidíte přehledně v přizpůsobitelném dashboardu. Můžete využít předpřipravené řešení, nebo vám dashboard upravíme na míru vašim potřebám</p>
        </div>
    </section>
{#
    <section class="section data reverse">
        <img src="images/Motion-just-graphs.webp" alt="Chester Motion">
        <div class="data_text">
            <h2>Monitorujte výrobu ze všech možných úhlů</h2>
            <p>Chcete mít kupříkladu přehled o tom, která ulička ve vaší výrobě je nejvytíženější? Žádný problém! I tato data lze snadno monitorovat a zobrazit v přehledném dashboardu.</p>
        </div>
    </section>
    #}

    <section class="background" >
        <div class="section">
            <h2 class="monitoring_heading">Základní sada pro monitoring nyní za zvýhodněnou cenu</h2>
            <p>Připravili jsme pro vás speciální zaváděcí nabídku, která vám usnadní start s naším řešením.</p>
            <p>Jednotná cena pro jednu z těchto základních sad je pouze: <strong>
            29.000 Kč</strong></p>
            
            <p>Cena konektivity a cloudové službě na dobu 3 roky ke každé sadě je: <strong>990 Kč/rok</strong></p>
            <div class="data">
                <img class="chester_image" src="images/chester-push.webp" class="chester_push" alt="Chester Push">
                <div class="data_text">
                    <p><strong>Můžete si vybrat z následujících sad:</p></strong>
                    <ul>
                        <li>Sada <strong>Výrobní TAKT</strong><br>(2 x CHESTER Counter)</li>
                        <li>Sada <strong>Výrobní ANDON</strong><br>(2 x CHESTER Push)</li>
                        <li>Sada <strong>Výrobní ANDON</strong> + <strong>Výrobní TAKT</strong><br>(1 x CHESTER Push + 1 x
                    CHESTER Counter)</li>
                        <li>Sada <strong>Výrobní STROJ</strong><br>(2x CHESTER Current - každý s 3x proudovou sondou)</li>
                    </ul>
                    <p><i>Poznámka: Všechny ceny jsou uvedeny bez DPH.</i></p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section" >

        <div class="contact_form">
            <h2>Rezervujte si bezplatnou schůzku – nabídka je časově omezená</h2>
            <div class="contact_block">
            <div class="profile">
                <img class="profile_img" src="images/rene.avif" alt="René Gubančok">
                <div class="profile_text_wrapper">
                    <p class="profile_text"><strong>René Gubančok</strong></p>
                    <a href="mailto:rene.gubancok@hardwario.com" class="mailto">rene.gubancok@hardwario.com</a>
                    <p class="profile_text">Chief Strategy Officer</p>
                </div>
                <a href="mailto:rene.gubancok@hardwario.com" class="mailto_button"><button>NAPSAT E-MAIL</button></a>

            </div>
            <div class="contact_text">

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "5453210",
                        formId: "5882277e-bf6a-44ba-8617-8d7dba81f8c6"
                    });
                </script>
            </div>
        </div>
        </div>
    </section>

    <section class="background">
        <div class="section">
            <div>
                <h2>Vaše nejčastější dotazy</h2>
            </div>
            <div class="drop_down">
                {% for faq in config.extra.faqs %}
                <div class="drop_down_item">
                    <details>
                        <summary>
                            <h3 class="drop_down_header">
                                <span class="title_text">{{ faq.question }}</span>
                                <i class="fas fa-chevron-down"></i>
                            </h3>
                        </summary>
                        <div class="drop_down_body">
                            <p>{{ faq.answer }}</p>
                        </div>
                    </details>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</article>


{% endblock %}