{% extends "base.html" %}

{% block content %}
<div class="thankyou_container">
<div class="thankyou_form">
    <img class="thankyou_logo" src="/images/hw-logo-pos.svg"  alt="Logo Vyrobní Report">
    <h1>Děkujeme za váš zájem o produkt Výrobní Report! </h1>
    <p>Váš registrační formulář byl úspěšně odeslán. Někdo z HARDWARIO týmu vás co nejdříve kontaktuje, aby s vámi probral další kroky.</p>
    <p>Pokud máte jakékoli dotazy, neváhejte nás kontaktovat.</p>
    <p>Těšíme se na spolupráci!</p>
    <a href="https://vyrobni.report/"><button class="thankyou_button">Zpět na Výrobní report</button></a>
</div>
</div>
<script>
    window.lintrk('track', { conversion_id: 19917722 });
</script>

{% endblock %}